@using Sitecore.DeploymentToolKit.ContentChecker;

@inherits System.Web.Mvc.WebViewPage<Sitecore.DeploymentToolKit.ContentChecker.ContentCheckerViewModel>

<div class="sc-listcontrol-body" id="contentCheckerTable">
    <h2>Step 1  - Configure the JSS Key</h2>
    <b>JSS Configuration</b>
    <div class="main-Background">
        <input type="textbox" id="txtkey" />
        <button type="button" onclick="javascript: AddKey();" id="btnAddId" class="btn btn-default">Add Sitecore ID, for the JSS Key</button>
        <p>key : @Model.Key</p>
    </div>
    
    <h3>Optional Step  - Add aditional ulrs to be checked</h3>
    <b>Type the url to be checked and click add</b>
    <div class="main-Background">
        <input type="textbox" id="urltxt" />
        <button type="button" id="btnSave" onclick="javascript:AddUrl();" class="btn btn-default">Add new Url</button>
    </div>
    
    <h3>Step 2  - Perform "Baseline Check" </h3>
    <h3>Step 3  - Change the Items(deploy), Publish, and Perform "Second Check"</h3>

    <table class="sc-table table">
        <tbody data-bind="foreach: jobitems">
            <tr>
                <td>
                    <b>Path</b>
                </td>

                <td>
                    <b>
                        Baseline Check
                        <button type="button" onclick="javascript:BaselineCheck();" id="btnBaselineCheck" class="btn btn-default">Perform baseline Check</button>
                    </b>
                </td>
                <td>
                    <b>
                        Second Check
                        <button type="button" onclick="javascript:SecondCheck();" id="btnSecondCheck" class="btn btn-default">Perform Second Check</button>
                    </b>
                </td>

                <td>
                    <b>Content Difference</b>
                </td>
            </tr>

            @{
                foreach (ContentCheckerModel user in @Model.DataCheckerTable)
                {
                    <tr>
                        <td>
                            @user.Path
                        </td>
                        <td>
                            <span align="right">@user.ContainsBaseLineContent() @user.BaselineContentDateTime()</span>
                        </td>
                        <td>
                            <span align="right">@user.ContainsSecondContent() @user.SecondCheckDateTime()</span>
                        </td>
                        <td>
                            <span align="right">@user.CheckDifference()</span>
                        </td>
                        <td>
                            <span align="right"> <a href="javascript:Remove('@user.Path');" class="btn btn-default">Remove</a></span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

               

