@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<Sitecore.DeploymentToolKit.MaintenanceMode.MaintenanceModeViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MaintenanceMode</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.js"> </script>
    <script type="text/javascript">
        $(function () {
            $("#btnSave").bind("click", function () {
                $.ajax({
                    url: "/api/sitecore/",
                    type: "POST",
                    context: this,
                    data: { scController: "MaintenanceMode", scAction: "BlockUsers" },

                    success: function (data) {

                        $("#BlockUsers").html(data);
                        console.log("success", data);

                    },
                    error: function (data) {
                        console.log("error", data);
                        alert("error");
                    }
                });

            });
        });
    </script>
</head>

<body>
    @Html.Partial("~/Views/Shared/DeploymentToolKitNavigation.cshtml")

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Maintenance Mode</h1>
            <p>When we are going to do a deployment, we need to warn users not to connect to the system during this process. With just one click it blocks all users who are not Sitecore Administrators and with another click, unlocks!</p>
        </div>

        <div id="BlockUsers">
            <div>
                <b>Current Active Sessions(non admin users)</b>
                <div class="sc-listcontrol-body">
                    <table class="sc-table table">
                        <tbody data-bind="foreach: jobitems">
                            <tr>
                                <td>
                                    <b>User</b>
                                </td>

                                <td><b>Session ID</b> </td>

                            </tr>

                            @{
                                foreach (var user in Model.UserSessions)
                                {
                                    <tr>

                                        <td>
                                            @user.UserName
                                        </td>

                                        <td>
                                            <span align="right">@user.SessionID</span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <hr />
            <div class="main-Background">
                <button type="submit" id="btnSave" class="btn sc-button btn-default noText sc_Button_8 data-sc-registered">Lock/Unlock Users</button>
                <a href="mailto:teste@teste.com?subject=look at this website&body=Hi,I found this website and" class="btn sc-button btn-default noText sc_Button_8 data-sc-registered">Send Email to the Users</a>
            </div>

            <div>
                <b>Users to be Locked (Non admin users)</b>
                <div class="sc-listcontrol-body">
                    <table class="sc-table table">
                        <tbody data-bind="foreach: jobitems">
                            <tr>
                                <td>
                                    <b>User</b>
                                </td>

                                <td><b>Locked</b> </td>
                                <td><b>Email</b> </td>
                            </tr>

                            @{
                                foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            @user.UserName
                                        </td>

                                        <td>
                                            <span align="right">@user.Locked</span>
                                        </td>
                                        <td>
                                            <span align="right">@user.Email</span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <p>@Model.Output</p>
        </div>
    </div>
</body>
</html>
<hr />



